
/* Your CSS Code here. */
.container{
    text-align: center;
    margin-top: 30px;
}
table{
    margin: auto;
}
input{
    font-size: 30px;
    margin: 5px;
    border: 5px solid;
    border-radius: 10px;
}
button{
    border-radius: 20px;
    margin: 5px;
    font-size: 40px;
    background-color: slategray;
    width: 85px;
    height: 57px;
}
button:hover{
    background-color: slategray;
    color: white;
}
.calculator{
    background: rgba(55, 135, 188, 0.518);
    border-radius: 20px;
    display: inline-block;
}